.paper {
  width: 80vw;

  @media (min-width: 600px) {
    width: 400px;
  }
}

.primaryText {
  font-size: 1.4em !important;
  padding-left: 8px;
}

.chipsContainer {
  margin-top: 16px;
  .MuiChip-root {
    margin: 4px 2px !important;
  }
}
