html,
body {
  margin: 0;
  padding: 0;
  user-select: none;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  -webkit-user-drag: none;
  -moz-window-dragging: none;
}

.MuiPaper-rounded {
  border-radius: 30px !important;
}

.MuiButton-root {
  border-radius: 20px !important;
}

body::-webkit-scrollbar {
  width: 15px;
}

html {
  scrollbar-width: thick;
  scrollbar-color: #a2de4c #424242;
}