html,
body {
  margin: 0;
  padding: 0;
  user-select: none;
  scroll-behavior: smooth;
}



.MuiPaper-rounded {
  border-radius: 28px !important;
}

.MuiButton-root {
  border-radius: 20px !important;
}

.MuiButtonBase-root.MuiFab-root,
.MuiButton-contained {
  background: linear-gradient(135deg, #D670DA, #F4A1F4) !important;
}

body::-webkit-scrollbar {
  width: 15px;
}

html {
  scrollbar-width: thick;
  scrollbar-color: #D670DA #161616;
}

.page-section {
  position: relative;
  padding: 3.2rem 0;
}

/* Minimal solid orchid divider */
.page-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  /* thin, subtle line */
  background-color: #D670DA99;
  /* subtle orchid tone */
  pointer-events: none;
  border-radius: 1px;
  /* soft edges */
}