.card {
  max-width: 344px;
  margin-top: 20px;
  padding: 8px;
}

.tagChip {
  margin: 4px 4px 4px 0px;
  line-height: 1.9;
}

.cardActions {
  padding: 8px 16px 12px !important;
}

.button {
  padding: 8px 16px;
}

