.card {
  max-width: 345px;
  margin-top: 20px;
  padding: 8px;
}

.cardMedia {
  object-fit: fill;
  height: 210px;
  filter: brightness(0.8);
}

.tagChip {
  margin: 4px 4px 4px 0px;
  line-height: 1.9;
}

.cardActions {
  padding: 8px 16px 12px !important;
}

.button {
  padding: 8px 16px;
}

